/* css start  */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .rootMain {
    background-color: black;
  }
  .container {
    max-width: 1400px;
  }
  .mainContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  .logoConatiner img {
    height: 435px;
  }
  .heading {
    text-align: center;
    margin-top: 20px;
    color: #f45221;
  }
  .mainForm {
    width: 50%;
    border: 1px solid rgb(31 31 31);
    background-color: rgb(23, 23, 23);
    color: white;
    border-radius: 8px;
  }
  .childform {
    padding: 2px 0px 20px;
    display: flex;
    justify-content: center;
  }
  .form-outline {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .form-label {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    width: 250px;
    margin-left: 3px;
  }
  .btn {
    margin-right: 10px;
  }
  .errorMessage {
    color: #d83e3e;
    margin-left: 3px;
    margin-top: 5px;
  }
  .form-control {
    width: 100%;
    background: #c2c2c2;
  }
  .response {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: rgb(91, 168, 91);
    padding: 12px 112px;
  }
  .responseRed{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: rgb(205, 63, 63);
    padding: 12px 112px;
  }
  /* css end */
  